body {
   background-image: url("wes-hicks-502645-unsplash.jpg");
   background-size: cover;
   margin-bottom: 30%;
   color: white;
   font-family: 'Raleway', sans-serif;
   position: relative;
   margin-top: 70px
}

h1, #info, .icons {
  text-align: center;
  color: white;
}

.center {
  margin: 0 auto;
  display: block;
}

.fa {
  color: white;
}

.img-fluid {
      box-shadow: 10px 10px 5px black;
  }

strong {
  font-weight: 700;
}

#left-pane {
  background-color: gray;
  font-family: 'Notable', sans-serif;
  font-size: 4em;
  text-align: center;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

div[data-spy="scroll"] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 150px;
}

.section {
    padding-top: 3rem;
    margin-top: -3rem;
}
